.home-nav {
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin-right: 10px;
}

.image-wh {
    height: 10%;
    width: 10%;
    margin-right: -42%;
}

.color {
    background-color: #007bb7;
}

.mr-2 {
    padding-right: 10px;
}

#nav-l {
    margin-left: 92px;
}